.logo{
    height: 6rem;
    margin-left: 2rem;
}

.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__button{
        border: none;
        border-radius: 50%;
        background-color: #e9e7e3;
    }

    &__icon{
        height: 2rem;
        width:2rem;
        fill:  #91908e ;
    }

    &__input{
        width: 90%;
        background-color: #e9e7e3;
        padding: .8rem 2rem;
        border-radius: 100rem;
        outline: none;
        border: none;
        margin-right: -3.25rem;
        transition: all .2s;
        box-shadow: 0 0 .5rem rgba(#000 , .5);
        font-weight: 300;

        &:focus{
            width: 100%;
            background-color:  #eff1e9;
        }

        &::-webkit-input-placeholder{
            color: #c1c9c7;
            font-weight: 100;
        }
        &:focus + .search__button{
            background-color:  #eff1e9;
        }
    }

    @include respond (phone){
        order: 1;
        flex: 0 0 100%;
        margin: 1rem 0 2rem -1rem;
    }

}


.navbar{
    color: #807d79;
    display: flex;
    justify-content: space-around;
    align-self: stretch;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: #e9e7e3;
    }


    &__iconBox{
        position: relative;
    }

    &__photo{
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification{
        height: 1.75rem;
        width: 1.75rem;
        background-color: var(--primary);
        border-radius: 50%;
        color: #e9e7e3;
        font-size: .8rem;
        position: absolute;
        top: 1.2rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__user{
        transition: all .3s;
    }   

    &__user-photo{
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
        position: relative;
    }

    &__user:hover .table{
        opacity: 1;
        transform: translateY(-5.5rem);
    }

    .table{
        position: absolute;
        opacity: 0;
        transition: all .2s;
        color: white;
        background-color: var(--grey-dark);
        padding: .5rem 2rem;
        border-radius: .4rem;

        td:not(:last-of-type){
            padding-right: 1rem ;
        }
        th{
            border-bottom: 1px solid white;
        }
    }
    
}


////////////////////// NAVBAR ///////////////////////
.sidebar{
    font-size: 1.4rem;
    margin-top: 2rem;
    list-style: none;

    @include respond (phone){
        display: flex;
        margin-top: 0;
    }
    
    &__item{
        position: relative;
        z-index: 1;
        
        &:first-child{
            background-color: var(--primary);
        }

        @include respond (tab-port){
            flex: 1;
        }
    
    }
    &__item::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: .4rem;
        background-color: var(--primary);
        transform: scaleY(0);
        transition: transform .3s , 
                    width .4s cubic-bezier(1,.15,.2,.85) .2s,
                    background-color .1s ;
    }

    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:hover::before &__link{
        color: white;
    }

    &__link:link,
    &__link:visited{
        align-content: center;
        justify-content:center;
        padding: 2rem 0;
        height: 100%;
        font-size: 1.2rem;
        text-transform: uppercase;
        display: flex;
        text-decoration: none;
        color: white;
        position: relative;
        z-index: 50;
        text-align: center;

        @include respond(phone){
            flex-direction: column;
            align-items: center;
        }
    }

    &__item:active::before{
        background-color: rgba(85, 136,163 ,  .8) ;
    }

    &__icon{
        height: 1.75rem;
        width: 1.75rem;
        fill: currentColor;
        margin-right: 1.7rem;

        @include respond(phone){
            margin-right: 0;
            margin-bottom: .8rem;
        }

    }
}

////////////////////// COPYRIGHT ///////////////////////
.copyrights{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;

    .design{
        text-decoration: none;
        color: orangered;
    }

    @include respond (tab-port){
        display: none;
    }

}

////////////////////// GALLERY ///////////////////////
.gallery{
    display: flex;

    &__item{
        width: 90%;
    }

    &__photo{
        width: 100%;
        display: block;
        height: 20rem;
    }
}

////////////////////// HOTEL OVERVIEWS ///////////////////////
.overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey-dark);

    &__heading{
        font-size: 2.2rem;
        font-weight: 300;
        padding: 1.5rem 3rem;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include respond (phone){
            font-size: 1.8rem;
            padding: 1rem 2rem;
        }
    
    }

    &__stars{
        margin-right: auto;
        display: flex;


    }

    &__icon--stars,
    &__icon--location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--primary);
    }

    &__location{
        display: flex;
        font-size: 1.2rem;
        align-items: center;
    }

    &__rating{
        margin-left: 5rem;
        display: flex;
        align-self: stretch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        padding: 0 2.25rem;
        color: white;

        @include respond (phone){
            padding: 0 1.8rem;
        }
    
        &--average{
            font-size: 2rem;

            @include respond (phone){
                font-size: 1.5rem;
            }
        
        }

        &--count{
            font-weight: 500;
            font-size: 1.2rem;

            @include respond (phone){
                font-size: 1.1rem;
            }
        
        }
    }
}

////////////////////// BTN INLINE //////////////////////
.btn-inline{
    border: none;
    color: var(--primary);
    background-color: transparent;
    border-bottom: 1.5px solid currentColor;
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 3px;
    transition: all .2s;
    margin-left: .6rem;
    cursor: pointer;

    &:hover{
        color: var(--grey-dark);

        & span{
            margin-left: .8rem;
        }
    }
    &:focus{
        outline: none;
        animation: animate 1s infinite;
    }


    span{
        margin-left: .3rem;
        transition: all .2s;
    }
}

@keyframes animate {
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 2rem 4rem rgba(0,0,0 , .2);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

////////////////////// RECOMMEND //////////////////////

.recomend{
    display: flex;
    align-items: center;

    &__count{
        margin-right: auto;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(131, 126, 126);
        letter-spacing: 1px;
    }

    &__friends{
        display: flex;
    }

    &__photo{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: content-box;
        
        &:not(:last-child){
            margin-right: -1.5rem;
        }
    }
}

////////////////////// PARAGRAPH //////////////////////

.paragraph{
    font-size: 1.7rem;
    color: rgb(131, 126, 126);
}

.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

.mob-copyright{
    display: none;

    @include respond (tab-port){
        display: inline;
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        color: var(--primary);

        & .design{
            color: orangered;
            text-decoration: none;

        }

    }    
}

////////////////////// LIST //////////////////////
.list{
    padding: 3rem 0;
    margin: 3rem 0;
    border-bottom: 3px solid var(--grey-light);
    border-top: 3px solid var(--grey-light);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;

    &__item{
        margin-bottom: .7rem;
        flex: 0 0 50%;
        color: var(--primary);
    }

    &__item::before{
        content: "";
        display: inline-block;
        height: 1.3rem;
        width: 1.3rem;
        margin-right: .7rem;

        background-color: var(--primary);
        -webkit-mask-image: url(../images/SVG/chevron-right.svg); 
        -webkit-mask-size: cover;

        @supports (mask-image: url()){

            background-color: var(--primary);
            background-image: url(../images/SVG/chevron-right.svg);
            mask-size: cover;    
        }
    }
}

////////////////////// USER REVIEWS ///////////////////////

.review{
    position: relative;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    padding: 3rem;
    margin-bottom: 3.5rem;
    overflow: hidden;

    &__text{
        color: #353941;
        font-weight: 500;
        position: relative;
        z-index: 10;
    }
    &__user{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__photo{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    &__user--box{
        margin-right: auto;
    }
    &__user--name{
        font-size: 1.2rem;
        color: var(--primary);
        font-weight: 700;
    }
    
    &__user--date{
        font-size: 1.1rem;
    }

    &__rating{
        font-size: 2.5rem;
        color: var(--primary);
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -8.6rem;
        left: -.9rem;
        font-size: 20rem;
        font-family: sans-serif;
        color: var(--grey-light);
        z-index: 1;
    }
}

////////////////////// BOOKING PART ///////////////////////


.booking{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 1px;
    }
}


////////////////////// BOOKING BTN ///////////////////////


.btn{
    margin-top: 3rem;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--primary-light) , var(--primary-dark));
    border: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    position: relative;
    overflow: hidden;


    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .3s;
    }

    &__visible{
        padding: 2rem 7.5rem;
    }

    &__invisible{
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%;
    }

    &:focus{
        outline: none;
        animation: animate 1s infinite;
    }

    &:hover{
        background-image: linear-gradient(to left, var(--primary-light) , var(--primary-dark));
    }

    &:hover &__visible{
        transform: translateY(100%);
    }
    &:hover &__invisible{
        top: 0;
    }   
}
